{% extends "auctions/layout.html" %}
{% block body %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Category</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% for cat in all_cat %}
                        {% if cat is not None %}
                            <a class="nav-item nav-link" href="{% url 'actlist' %}?idcat={{cat.id}}">{{ cat }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </nav>
        <br>
{% endblock %}