{% extends "auctions/layout.html" %}
{% block body %}
    <div class="card-deck">
            {% for list in all_list %}
                <div class="card">
                    <center><img class="card-img-top" src="{{ list.ListingItem.Imagelink }}" alt="Card image cap" style=" width : 50% " ></center>
                    <div class="card-body">
                        <h5 class="card-title">{{ list.ListingItem.Title}}</h5>
                        <p class="card-text">{{ list.ListingItem.Textdes }}</p>
                        <b><p class="card-text" style="color: red"> {{ list.ListingItem.StartingBid }} Units </p> </b>
                        <p class="card-text"><small class="text-muted">Updated : {{ list.ListingItem.time }} </small></p>
                        <p class="card-text"><small class="text-muted">By {{ list.ListingItem.Luser }}</small></p>
                        <a class="card-link" href="{% url 'listi' %}?idlisti={{list.ListingItem.id}}">Take me to this Listing</a>
                    </div>
                </div>
            {% endfor %}
    </div>

{% endblock %}